@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color:#000000;
    text-align: center;
}


.header-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding:1rem 4rem ;
}

.logo-text {
    font-family: 'MuseoModerno',serif;
    font-size: 2.3rem;
    font-weight: 500;
    color: #FFFFFF;

}
.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.nav-link {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight:600;
    transform:color 0.1s;
    font-family: "Chivo",serif;
}

.main {
    width: 100%;
    padding:1rem 4rem ;
    
    
}

.main-content {
    width: 100%;
}

.landing-page p{
    color: #FFFFFF;
    font-size: 6rem;
    margin: 4rem;
    font-family: 'Chivo',serif;
    font-weight: 900;

}


.landing-image{
    width: 100%;
    border-radius:1.2rem;

}


.navbar-divider {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;

}

.personal-agency {
    width: 100%;
    margin:6.5rem 0;
    
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.row img{
    width: 100%;
}

.img {
    width: 30%;
}

.row-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #FFFFFF;
}

.row-text :nth-child(1) {
    font-family:'Archivo',serif;
    color: #FFFFFF;

}

.row-text :nth-child(2) {
    font-family:'Archivo',serif;
    color: #FFFFFF99;

}

.personal-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.spacer a {
    font-family: "Chivo";
    font-size:1.75rem;
    font-weight: 900;
    line-height: 32px;
    color:#FFFFFF;
}

.greet {
    color: #FFFFFF;
}

.verification {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instruct-container {
    margin-top: 4rem;
}

.instruct-container :nth-child(1) {
    color:#FFFFFF;
    font-size:1.75rem;
    font-family: 'Chivo';
    font-weight: 900;
}

.instruct-container :nth-child(2) {
    font-size:0.9rem;
    font-family: 'Chivo';
    font-weight: 900;
}

.input-container {
    width: 100%;
    display:flex;
    gap: 0.75rem;
    justify-content: center;
}

.input {
    width: 3.5rem;
    height: 4rem;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input p{
    width: 0.75rem;
    height: 1.5rem;
    font-family: Archivo;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    text-decoration-skip-ink: none;
    color: #FFFFFF5C;
}

.button-container {
    margin: 1.5rem;
    width:25rem;
    height:2.25rem;
    padding: 8px 16px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #928DD3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-button p{
    color:#000000;
    width:3.125rem;
    height:1.25rem;
    font-family: 'Archivo',serif;
    font-size:0.9rem;
    font-weight: 600;
    line-height: 20px;
}

.skip-container p{
    width:1.9rem;
    height:1.25rem;
    gap: 0px;
    opacity: 0px;
    font-family:'Archivo',serif;
    font-size:0.9rem;
    font-weight: 600;
    line-height: 20px;
    color: #928DD3;
}

.footer {
    height:5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0px 24px 0px;
    gap: 24px;
    border: 1px;
    opacity: 0px;

    
}

.footer-container {
    height:5vh;
    width: 100%;
    margin: 0rem 4rem;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    opacity: 0px;


}

.page-links {
    width:2vh;
    height:2rem;
    gap: 0px;
    opacity: 0px;
    font-family: 'Chivo',serif;
    font-size:1.75rem;
    font-weight: 400;
    color: #FFFFFF99;
}

.button-large {
    width:18.1875rem;
    height:3rem;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #FFFFFF29;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social p{
    width:15.1875rem;
    height:1.5rem;
    font-family: 'Archivo',serif;
    font-size:1.25rem;
    font-weight: 600;
    color: #FFFFFF;
}
